:root {
    --fp-gradient-left: #0D1D2B;
    --fp-gradient-right: #535E69;
    --prodajna-mjesta: #4D6A79;
    --links: #13253B;
    --footer: #071828;
    --red: #D72027 !important;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif !important;
    color: white !important;
    overflow-x: hidden;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 0em !important;
}

@media (max-height: 960px) {
    -webkit-scrollbar {
        display: none;
    }
}

.container-fluid {
    width: 80%;
    margin-left: 10% !important;
}

@media(max-width: 960px) {
    .container-fluid {
        width: 99% !important;
        margin-left: 0.5% !important;
        padding: 0 !important;
    }
}

.navigation {
    position: absolute;
    top: 0em;
    padding: .6em;
    width: 100vw;
    z-index: 999;
    background: -webkit-gradient(linear, left top, right top, from(#0d1d2b), to(#535e69));
    background: linear-gradient(to right, #0d1d2b 0%, #535e69 100%);
}

@media(max-width: 960px) {
    .navigation {
        display: none;
    }
}

.active a {
    color: #fff !important;
}

.mobile-navigation {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    height: 3.5em;
    top: 0;
    left: 0;
    background-color: #0d1d2b;
    z-index: 999;
    padding-top: .5em;
    padding-bottom: .2em;
}

.mobile-links ul li {
    margin: .5em;
    font-size: 1em;
}

.mobile-navigation img {
    margin: .3em;
    max-height: 2.4em;
    left: .5em;
    top: .3em;
}

@media(max-width: 960px) {
    .mobile-navigation {
        display: block;
    }
}

.hamburger {
    margin-top: -.1em;
    max-height: 2.4em;
    right: .5em;
    outline: none;
}

.hamburger:focus {
    outline: 0;
    outline: none;
}

@media(max-width: 960px) {
    .model-title strong {
        font-size: .9em;
    }
}

.mobile-links {
    position: fixed;
    top: 0;
    left: 0;
    line-height: 1em;
    background-color: #535E69;
    height: 11em;
    width: 100%;
    z-index: 1;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.mobile-links-active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.mobile-ul {
    padding-top: 4em;
}

.mobile-ul li {
    display: block
}

#fullpage {
    z-index: 1 !important;
}

/* .is-active, .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
    background-color: white;
}

.is-active {
    color: red
} */

.bottom {}

@media(max-width: 960px) {
    .bottom {
        margin-bottom: 1em !important;
    }
}

@media (max-width:1450px) {
    .saznajte-vise.float-right {
        margin-right: 3em !important;
    }
}

@media (max-width:1280px) {
    .saznajte-vise.float-right {
        margin-right: 2em !important;
    }
}

.footer-new {
    position: absolute;
    width: 100vw;
    height: 4.5em;
    bottom: 0em;
    left: 0em;
    background-color: rgba(19, 37, 59, 0.918);
    z-index: 999;
}

.footer-new-text {
    position: absolute;
    right: 2em;
    bottom: 0em;
    color: #999;
    opacity: .5;
    font-size: .9em
}

@media (max-width: 1444px) {
    .footer-new-text {
        font-size: .8em;
    }
}

.footer-new-garancija {
    position: absolute;
    left: 1em;
    bottom: -0.35em;
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    line-height: 1.3em;
}

@media (max-width: 1440px) {
    .footer-new-garancija {
        font-size: .8em;
    }
}

.footer-new-garancija a {
    color: white !important;
}

.footer-new-garancija a:hover {
    color: #fdd !important;
}

.btn-garancija {
    position: absolute;
    left: 30em;
    bottom: .8em;
}

@media(max-width: 1440px) {
    .btn-garancija {
        left: 25em;
        bottom: .7em;
    }
}

@media(max-width: 1280px) {
    .btn-garancija {
        font-size: .9em;
        left: 27em;
    }
}

.garancija-img {
    position: absolute;
    right: 2em;
}

.garancija-img img {
    border-radius: .5em;
}

@media (max-width: 960px) {
    .garancija-img {
        display: none;
        /* transform: scale(.7);
        right: 0;
        top: -2.5em; */
    }
}

@media (max-width: 960px) {
    .garancija-img-mobile {
        display: block;
    }
}

.footer-new img {
    position: absolute;
    bottom: -.1em;
    height: 8em !important;
    left: 50%;
    transform: translateX(-55%)
}

@media (max-width: 960px) {
    .footer-new {
        display: none;
    }
}

.fp-slidesNav {
    z-index: 999999;
    position: absolute !important;
    margin-bottom: 4em !important;
    width: 100%;
}

.fp-slidesNav ul {
    display: flex;
    align-content: center;
    justify-content: center;
}

.fp-slidesNav ul li a span {
    background: white !important;
    opacity: .2;
}

.tcl-logo {
    height: 4em;
}

.links {
    right: 0;
}

ul {
    padding-top: 1.5em;
    right: 0em;
    width: 100%;
}

li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-right: 1em;
}

a {
    color: #bbb !important;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover {
    color: #fff !important;
    text-decoration: none;
}

a:active {
    color: green;
}

.first-slide {
    padding-top: 2em;
}

.home {
    background: -webkit-gradient(linear, left top, right top, from(#0d1d2b), to(#535e69));
    background: linear-gradient(to right, #0d1d2b 0%, #535e69 100%);
    padding: 2em;
}

@media(max-width: 960px) {
    .home {}
}

.fp-controlArrow, .fp-next, .fp-prev {
    /* border-color: rgba(0, 0, 0, 0) !important; */
    display: none
}

.fp-controlArrow {
    top: 85% !important;
}

@media (max-width:1280px) {
    .fp-controlArrow {
        top: 83.5% !important;
    }
}

.model-no {
    color: #d72027;
    margin-bottom: 0;
    font-weight: 500;
}

.model-title {
    margin-top: 0;
    font-size: 3.5em;
}

#product-details {
    padding-top: 1em;
    padding-left: 1em;
}

#product-details h1 {
    font-weight: 200;
}

.product-tags {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: .8em;
    width: 100%;
}

.product-tag {
    padding: .6em;
    border: 1px solid #aaa;
    border-radius: 1em;
    margin-right: 1em;
    font-size: .9em;
    text-align: center;
}

@media(max-width: 960px) {
    .product-tag {
        font-size: .8em !important
    }
}

.product-img {
    width: 100%;
    left: 0;
    margin-left: 0;
}

.product-img img {
    left: 0;
    width: 85%;
}

@media(max-width: 960px) {
    .product-img img {
        width: 95%;
        margin-left: 2.5%;
    }
}

.product-cijena {
    padding-left: .5em;
    padding-top: .5em;
}

.product-cijena p {
    font-size: .8em;
    margin-top: 1em;
}

@media(max-width: 960px) {
    .product-cijena p {
        font-size: .7em;
    }
}

.product-cijena h4 {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: -.6em !important;
    padding: 0em;
}

@media (max-width: 960px) {
    .product-cijena h4 {
        font-size: 1.2em;
    }
}

.product-description p {
    font-size: .9em;
    font-weight: 200;
}

@media(max-width: 1280px) {
    .product-description p {
        font-size: 0.8em;
    }
}

@media(max-width: 1280px) {
    .product-description brp {
        display: none;
    }
}

.product-description p span {
    font-size: 1.3em;
    font-weight: 400;
}

.product-properties {
    left: 0em;
    margin: 0;
    padding: 0;
}

.product-properties ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    align-content: flex-start;
    width: 100%;
}

.product-properties li {
    margin-left: 0em;
    margin-top: 1em;
    padding-left: 0;
}

.product-properties img {
    width: 4em;
    height: 3em;
    background-color: #eee;
}

@media(max-width: 960px) {
    .product-properties img {
        width: 3.5em;
    }
}

.saznajte-vise {
    margin-top: 2em;
    margin-bottom: 7em !important;
    background: blue;
}

@media (max-width: 960px) {
    .saznajte-vise {
        margin-bottom: 5em !important;
        position: relative;
    }
}

@media (max-width: 1440px) {
    .saznajte-vise.float-right {
        margin-right: 3em !important;
    }
}

.saznajte-vise button {
    font-size: 1em;
    padding: .4em 2em;
}

@media (max-width:960px) {
    .saznajte-vise button {
        margin-bottom: 5em;
        right: 0;
        position: absolute;
    }
}

.o-nama-sect {
    padding: 2em;
}

@media(max-width: 960px) {
    .o-nama-sect {
        padding: 1.8em;
    }
}

.o-nama h1 {
    color: #d72027;
}

.o-nama span {
    color: #333;
    font-size: 1.2em;
    font-weight: 500;
}

.o-nama p {
    color: #333;
    font-size: 1em;
    font-weight: 300;
}

@media(max-width: 960px) {
    .o-nama {
        margin-top: 2em;
    }
}

.o-nama-bottom {
    display: inline-flex;
    flex-flow: row nowrap;
}

.o-nama-bottom img {
    height: 4em;
    width: auto;
}

.o-nama-bottom button {
    margin: 0;
    /* padding: .6em 5em; */
    width: 100%;
}

.o-nama-img img {
    max-width: 100%
}

.iframe {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #4D6A79
}

@media(max-width: 960px) {
    .iframe {
        height: 90vh;
    }
}

iframe {
    position: absolute;
    width: 101%;
    height: 90%;
    top: 5em;
    left: -.1em;
    right: -.1em;
    bottom: 0em;
    pointer-events: none;
}

@media(max-width: 960px) {
    iframe {
        top: 3em;
        height: 100%;
        pointer-events: auto;
    }
}

.kontakt {
    background-color: #13253B;
    padding: 3em;
}

@media (max-width: 960px) {
    .kontakt {
        padding: 3em .5em 1.5em .5em;
    }
}

.kontakt-ul li {
    display: block;
    font-weight: 200;
    color: #99a !important;
    font-size: .9em;
}

.kontakt-ul p {
    font-weight: 500;
    color: #99a !important;
}

.kontakt-ul i {
    font-size: 2em;
    margin: .2em;
}

@media (max-width: 1400px) {
    .kontakt-ul i {
        font-size: 2em;
        margin-right: .1em;
    }
}

.kontakt-ul li a {
    color: #bbbf !important;
    font-size: 1em;
}

.kontakt-ul li a:hover {
    color: #ffffff !important;
}

@media(max-width: 1283px) {
    .kontakt-ul h3, li {
        font-size: .8em;
    }
}

@media(max-width: 1283px) {
    .kontakt-ul h4 {
        font-size: 1em;
    }
}

@media(max-width: 960px) {
    .kontakt-container {
        width: 100vw !important;
        margin: 0em !important;
        padding: 0em !important;
    }
}

.kontakt-tv-link {
    margin-bottom: .3em !important;
    font-size: 1.3em;
}

@media(max-width: 960px) {
    .tele {
        display: none;
    }
}

.tele-mobile {
    display: none;
    margin-bottom: .6em !important;
}

@media(max-width: 960px) {
    .tele-mobile {
        display: block;
    }
}

.podnaslov {
    color: rgb(221, 230, 255)
}

.left {
    position: absolute;
    left: 1em;
    bottom: 5em;
}

.left, .right {
    display: block;
    cursor: pointer !important;
    z-index: 999;
}

@media(max-width: 960px) {
    .left, .right {
        display: none;
    }
}

.right {
    position: absolute;
    right: 1em;
    bottom: 5em;
}

.footer {
    position: absolute;
    right: 2em;
    bottom: 6em;
    font-weight: 200;
    color: rgb(57, 105, 163);
    z-index: 999 !important;
}

.avtera {
    color: white !important;
    transition: all .6 ease;
    padding: 0;
    background: red !important;
}

.avtera:hover {
    color: white !important;
    opacity: .8;
}

.avtera img {
    max-height: 4.2em;
    height: 4.2em;
}

.purple-key {
    opacity: .1;
    transition: all .6s ease;
}

.purple-key:hover {
    opacity: .4;
}

.purple-key-mobile {
    position: absolute;
    right: 1em !important;
    bottom: 5.5em !important;
    opacity: .1;
}

.purple-key-mobile:hover {
    opacity: .2;
}

.footer img {
    position: absolute;
    right: 2em;
    bottom: 4.67em
}

@media (max-width: 960px) {
    .footer {
        display: none;
    }
}

.footer-mobile {
    position: relative;
    font-size: .8em;
    font-weight: 200;
    color: white;
    opacity: .5;
    text-align: center;
    margin-bottom: -2em;
}

.garancija-mobile {
    position: fixed;
    bottom: top;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

@media(min-width: 960px) {
    .garancija-mobile {
        display: none;
    }
}

.garancija-mobile-content {
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 1em;
    background-color: #071828;
    height: 7em;
    width: 100%;
    z-index: 1;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .5s;
    transition: all .5s;
}

.garancija-active {
    transform: translateY(10%);
}

/* .garancija-mobile-content {
    position: absolute;
    display: inline-flex;
    opacity: 1;
    z-index: 999;
    background: #fff;
    bottom: 3.5em;
    left: 0;
    width: 100%;
    min-height: 4.5em;
    height: 4.5em;
    background-color: #071828;
} */

.garancija-mobile-text {
    position: absolute;
    font-size: .8em;
    font-weight: 200;
    color: white;
    top: 0em;
    padding: 1em;
    width: 100%;
    height: 3.5em;
    text-align: right;
}

.garancija-mobile img {
    position: absolute;
    transform: scale(.75);
    z-index: 9999;
    display: block;
    padding: .4em;
    right: -1.2em;
    bottom: 2.85em;
    /* background-color: #07182833; */
    border-top-left-radius: 1.5em;
}

.garancija-buttons a {
    color: white !important;
    font-weight: 300 !important;
}

.btn-registracija {
    position: absolute;
    bottom: .2em;
    left: 2em
}

.btn-povratak {
    position: absolute;
    bottom: .2em;
    right: 2em;
}

.otvori-garanciju-hide {
    display: none !important;
}

.btn-povratak a {
    color: white !important;
}

.footer-mobile a {
    color: white !important;
}

.footer-mobile a:hover {
    opacity: .7;
}

.footer-mobile hr {
    border-color: rgb(57, 105, 163);
    width: 100%;
    left: 0em;
}

@media (min-width: 960px) {
    .footer-mobile {
        display: none;
    }
}

@media (max-width: 1368px) {
    .br {
        display: none;
    }
}

@media (max-height: 900px) {
    .container-fluid {
        width: 100% !important;
        margin: 0 !important;
        left: 0;
    }
}

@media (height: 859px) {
    .container-fluid {
        width: 80% !important;
        margin-left: 10% !important;
    }
}

.social-media {
    position: absolute;
    right: 7em;
    bottom: 5em;
    color: #aaa;
}

.social-links {
    font-size: 3em;
    color: #aaa;
}

.social-links a {
    margin-right: .4em;
}

.partneri strong {
    color: white !important;
}

@media(max-width: 960px) {
    .terabajt {
        margin-top: -3.2em;
    }
}